{{~#if (eq kind "SCALAR")~}}
<span class="gql-type">{{name}}</span>
{{~else if (eq kind "NON_NULL")~}}
{{> type ofType}}<span class="gql-required">!</span>
{{~else if (eq kind "LIST")~}}
[<span class="gql-type">{{> type ofType}}</span>]
{{~else if (eq kind "CIRCULAR_REF")~}}
[<span class="gql-type">{{ref}}</span>]({{link}}) <span class="gql-badge gql-badge-warning">circular</span>
{{~else if (eq kind "TYPE_REF")~}}
[<span class="gql-type">{{name}}</span>]({{link}})
{{~else~}}
[<span class="gql-type">{{name}}</span>](#{{slugify name}})
{{~/if~}}